/* 一般の定義 */

p{
    font-family: "Hiragino Kaku Gothic ProN", "YuGothic", serif;
    text-align: center;
    letter-spacing:0.2em;
}

/* ヘッダー部分定義 */

header {
    width:1170px;
    font-family: "Hiragino Mincho", serif;
    text-align:center;
    letter-spacing:0.1em;
}

header a {
    font-size:16px;
    text-decoration:none;
    color:black;
}

header a:hover{
    text-decoration:none;
    opacity:60%;
}


/* body 部分の定義 */

body {
    text-align:center;
    width:1170px;
}

body a {

    color:black;
}

body a:hover {
    text-decoration:none;
    color:black;
    opacity: 60%;
}

.image{
    width:1170px;
    text-align:center;
}

.main{
    width:1170px;
    text-align:center;
    letter-spacing:0.3em;
}
.main h2{
    font-family: "Hiragino Mincho", serif;
    font-weight:normal;
}

.findlist ul {
    list-style:none;
    text-decoration:none;
    line-height:3;
}

.findlist a {
    text-decoration:none;
    color:black;
}

.findlist a:hover {
    opacity:60%;
    text-decoration:none;
}

.catch{
    margin-top:300px;
    margin-bottom:300px;
}

/* メニュー部分を定義 */
.menu-wrapper{
    width:1170px;
    height:500px;
    margin-top:100px;
}

.manus{
}
.menu{
    float:left;
    width:20%;
    margin:0 -50px;
}

.menu-icon{
    position:relative;
}

.menu img{
}

.menu p{
    font-size:16px;
    letter-spacing:0;
    position:absolute;
    top:150px;
    left:80px;
    font-family:courier;
}

/* footer 部分を定義 */
footer {
    width:1170px;
    height:400px;
    margin-top:200px;
    position:relative;
    background-image:url(../images/cup.PNG);
    background-size:cover;
    background-position: left;
}

.info {
    font-size: 13px;
    font-family: "YuMincho", "Hiragino Mincho ProN";
    letter-spacing:0.2em;
    position:absolute;
    bottom:20px;
    margin:0px;
    padding:20px 0;
}

footer p {
    text-align: left;
    font-size: 10px;
    position:absolute;
    bottom:0;
    margin:0;
    padding:0;
}

footer a {
    text-decoration:none;
    color:black;
}
